* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Roboto;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  min-width: 320px;
  position: relative;
  line-height: 1.75;
  overflow-x: hidden;
  opacity: 1;
  color: #333;
  margin: 0;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
}

/*==========  Desktop First  ==========*/
@media (max-width: 1199.98px) {
  body {
    font-size: 15px;
  }
}

@media (max-width: 991.98px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 767.98px) {
  body {
    font-size: 13px;
  }
}

@media (max-width: 575.98px) {
  body {
    font-size: 12px;
  }
}

/*==========  Mobile First  ==========*/
