* {
  box-sizing: border-box;
  &:before, &:after {
    box-sizing: border-box;
  }
}
body {
  @include fontem(Roboto, 16);
  min-width: 320px;
  position: relative;
  line-height: 1.75;
  overflow-x: hidden;
  opacity: 1;
  color: $text;
  margin: 0;
}
input, button, textarea, a {
  border: none;
  outline: none;
  background: none;
  &:hover, &:active {
    outline: none;
  }
}
ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
}
h1 { color: $head; }
h2 { color: $title; }
h3 { color: $title; }
p, a, span, h4, h5, h6 { color: $text; }
.head {
  color: $head;
  @include fontem(Roboto, $big)
}
.title {
  color: $title; 
  @include fontem(Roboto, $medium)
}
.subtitle {
  color: $text; 
  @include fontem(Roboto, $medium)
}
.text {
  color: $text; 
  @include fontem(Roboto, $medium)
}
.s-header {
  
}