/* === base === */
* {
  box-sizing: border-box;
  &:before, &:after {
    box-sizing: border-box;
  }
}
::placeholder {
  color: #666;
}
::selection {
  background-color: $casual;
  color: #fff;
}
html, body {
  @include fluidFontSize(14px, 16px, 480px, 1280px, 16px);
  min-width: 320px;
  position: relative;
  line-height: 1.75;
  height: 100%;
  overflow-x: hidden;
  opacity: 1;
  color: $text;
  margin: 0;
}
section {
  width: 100%;
}
input, button, textarea, a {
  border: none;
  outline: none;
  background: none;
  &:hover, &:active {
    outline: none;
  }
}
ul, ol, label {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
  margin: 0;
}
h1 { color: $head; }
h2 { color: $title; }
h3 { color: $title; }
p, a, span, h4, h5, h6 { color: $text; }
.head {
  color: $head;
  @include fontrem(Roboto, $h1)
}
.title {
  color: $title; 
  @include fontrem(Roboto, $h2)
}
.subtitle {
  color: $text; 
  @include fontrem(Roboto, $h3)
}
.text {
  color: $text; 
  @include fontrem(Roboto, $p)
}

/* --- end base --- */

.s-header {
  
}